.widget-admin .button{
	z-index:999;
}

.travel_images_with_captions{
	line-height:14px;
	border:1px solid #bbbbbb;
	height:417px;
}

.travel_images_with_captions  .title{
	border-bottom:1px solid #bbbbbb;
	margin-bottom:10px;
	padding: 0 0 0 26px;
	font-weight:bold;
	background-color:#fcfcfc;
	position:relative;
	height: 28px;
	line-height: 28px;

}
.travel_images_with_captions .title .travel-subject {
	float: left;
}
.travel_images_with_captions .title a {
	color: #444444;
	margin-left: 5px;
}

.travel_images_with_captions .title a:hover {
	text-decoration: none;
}

.ttravel_image_with_captions .title .more_button {
	float: right;
}
.travel_images_with_captions .title .more_button{
	font-weight:normal;
	color:#808080;
	font-size: 9pt;
	float:right;
	margin: 2px 10px 0 0;
	text-decoration:none;
}

.travel_images_with_captions  .title img{
	position:absolute;
	top:6px;
	left:8px;
	width:15px;
	height:15px;
}

.travel_images_with_captions_container {
	width:30.49%;		
	float:left;
	margin: 0 0 10px 2.09%;
}

.travel_images_with_captions_container .images_with_captions .img-wrapper{
	width:100%;
	border:1px solid #bbbbbb;
	background-color:#e6e6e6;
	overflow:hidden;
}

.travel_images_with_captions_container .images_with_captions .img-wrapper img{
	width:100%;	
}

.travel_images_with_captions_container .images_with_captions .travel2-caption a{	
	font-family:dotum;
	text-decoration:none;
}



.travel_images_with_captions_container .product_name {
	margin: 4px 0 2px 0;
}
.travel_images_with_captions_container .product_name a {
	color: #333333;
	font-weight: bold;
}
.travel_images_with_captions_container .product_name, .travel_images_with_captions_container  .product_price {
	line-height: 15px;
	height: 15px;
	overflow: hidden;
	padding: 0 20px;
	text-align: center;
}
.travel_images_with_captions_container .product_price a {
	color: #334761;
	font-weight: bold;
}
.travel_images_with_captions_container .product_subject {
	text-align: left;
	line-height: 15px;
	height: 30px;
	overflow: hidden;
	margin-top: 2px;
	text-align:center;
	word-break:break-all;
}
.travel_images_with_captions_container .product_subject a {
	color: #555555;
	margin-top: 5px;
	text-decoration:none;
}